# Dependency directories
node_modules/
jspm_packages/

#files
**/.vscode
**/.build
**/lib
**/image
**/vehicleImage
**/metabase
**/plugins
**/programFileNames
**/metabase.db.mv.db
**/metabase.db.trace.db
**/fineImage
# Keep environment variables out of version control
# .env

# Optional npm cache directory
.npm

# react build file
build/