<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

    <!-- 외부사용자 사업자 정보 조회 -->
    <select id="getBoardList">
        select * 
        from board
        <if test="limit != null and limit != '' and page != null and page != ''">
            LIMIT ${limit} OFFSET ${page}
        </if>
    </select>